{% extends 'base.html.twig' %}

{% block title %}Hello OnePageController!{% endblock %}

{% block body %}
    <style>
        @import url("https://fonts.googleapis.com/css?family=Comfortaa:400,700,300|Quattrocento");
        .about-tools ul li, .contact-social-icons ul a li {
            text-align: center; }

        .centered {
            float: none;
            margin-left: auto;
            margin-right: auto; }

        .break {
            clear: both;
            margin-top: 10px; }

        @media (min-width: 768px) {
            .pull-right-sm {
                float: right !important; }

            .pull-left-sm {
                float: left !important; } }
        @media (min-width: 992px) {
            .pull-right-md {
                float: right !important; }

            .pull-left-md {
                float: left !important; } }
        @media (min-width: 1200px) {
            .pull-right-lg {
                float: right !important; }

            .pull-left-lg {
                float: left !important; } }
        * {
            box-sizing: border-box; }

        html {
            position: relative;
            height: 100%; }

        img {
            width: 100%; }

        body {
            height: 100%;
            font-family: "Comfortaa", Helvetica, Arial, sans-serif;
            background-color: #25b79f;
            /* Margin bottom by footer height */
            margin-bottom: 60px; }

        p {
            font-family: "Tw Cen MT";
            color: white;
        }

        h1,
        h2,
        h3,
        h5 {
            font-family: "Tw Cen MT";
            color: white;
            opacity: 100%;
            font-weight: bold;
        }

        body > .container-fluid {
             }

        .container-fluid .text-muted {
            margin: 20px 0; }

        .btn:focus, a:focus {
            outline: none !important; }

        .navbar {
            height: 120px;
            border: none;
            color: black;
            z-index: 100;
            margin-bottom: 0;
            margin-top: 0;
            border-radius: 0;
            transition: background-color 0s ease 0s; }

        .navbar-brand {
            display: none;
            margin-top: 100px;
            color: black;
            font-weight: 100; }

        .navbar-default .navbar-nav > li > a {
            color: black;
            font-weight: 500;
            font-size: 17px;
            margin: 1px 5px 5px 5px;
            border-radius: 5px; }
        .navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:active, .navbar-default .navbar-nav > li > a:focus {
            color: black;
            border: 1px solid #f0f0e6; }
        .navbar-default .navbar-nav > li > a:visited {
            color: black;
            text-decoration: none; }
        .navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
            background-color: transparent;
            color: black; }
        .navbar-default .navbar-toggle {
            border-color: #f0f0e6; }
        .navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
            background-color: #07374a; }
        .navbar-default .navbar-toggle .icon-bar {
            color: black;
            background-color: #f0f0e6; }
        .navbar-default .navbar-collapse.collapse.in ul {
            background-color: #07374a; }

        /* Solid class attached on scroll past first section */
        .navbar.solid {
            background-color: #07374a;
            transition: background-color 1s ease 0s;
            box-shadow: 0 0 4px rgba(7, 55, 74, 0.2); }
        .navbar.solid .navbar-brand {
            display: inline-block;
            color: black;
            transition: color 1s ease 0s; }
        .navbar.solid .navbar-nav > li > a {
            color: black;
            transition: color 1s ease 0s; }

        .cover {
            padding: 10% 0 10% 0; }
        .cover.top {
            padding: 15% 0 10% 0;
            height: 100vh;
            display: flex;
            background-color: #177e63; }
        .cover.bottom {
            padding: 10% 0 10% 0; }

        .headline {
            padding-top: 6.25em; }
        @media screen and (min-width: 768px) {
            .headline {
                padding-top: 3.75em; } }
        @media screen and (min-width: 992px) {
            .headline {
                padding-top: 1.5625em; } }
        @media screen and (min-width: 1200px) {
            .headline {
                padding-top: 0px; } }

        #about {
            background-color: #008e7b; }


        .profile-img {
            margin-bottom: 15px;
            width: 120px; }

        .about, .about-info, .about-tools, .about-last {
            padding: 4% 10% 1% 10%;
            font-size: 1.25em; }
        .about-tools {
            padding-top: 4.375em;
            font-weight: 700;
            font-size: 1.5em; }
        @media screen and (min-width: 992px) {
            .about-tools {
                padding-top: 5.625em; } }
        .about-tools ul:first-child {
            padding-left: 0px; }
        .about-tools ul {
            color: #25b79f;
            list-style: none; }
        .about-tools ul li {
            padding-top: 0.75em; }
        .about-last {
            padding-top: 3.125em;
            padding-bottom: 0;
            font-size: 1.125em; }
        @media screen and (min-width: 992px) {
            .about-last {
                padding-top: 0; } }
        .about-last p {
            color: #25b79f; }

        #portfolio {
            background-color: #ee7223; }
        #portfolio h2 {
            padding-bottom: 1.25em; }

        @media screen and (min-width: 768px) {
            .portfolio-projects {
                margin-top: 0.625em; } }
        .portfolio-projects--title {
            margin-top: 0.9375em; }
        @media screen and (min-width: 768px) {
            .portfolio-projects--title {
                margin-top: 20%; } }
        @media screen and (min-width: 1200px) {
            .portfolio-projects--title {
                margin-top: 5%; } }
        @media screen and (min-width: 768px) {
            .portfolio-projects--desc {
                margin-top: 10%;
                margin-bottom: 10%; } }
        .portfolio-projects--btn {
            background: transparent;
            color: #07374a;}
        .portfolio-projects--btn:hover {
            background: #07374a;
            color: #f0f0e6; }
        .portfolio-projects--image {
            margin-bottom: 1.875em;
            padding-top: 5%; }

        #contact {
            background-color: #07374a; }
        #contact h2 {
            color: #25b79f; }

        .contact-social-icons p {
            color: #25b79f; }
        .contact-social-icons ul a {
            color: #25b79f;
            list-style: none; }
        .contact-social-icons ul a:hover {
            color: #f0f0e6; }
        .contact-social-icons ul a li {
            display: inline-block;
            padding: 2%; }

        .footer {
            bottom: 0;
            width: 100%;
            /* Set the fixed height of the footer here */
            height: 30px;
            background-color: #07374a;
            color: #f0f0e6; }

        #scrollIcon, #scrollTopIcon {
            margin-top: 200px;
            padding: 10px;
            font-size: 1.5em;
            color: #07374a;
            border: solid 2px #07374a;
            border-radius: 50%; }

        #scrollTopIcon {
            margin-top: 10px;
            font-size: 1em;
            color: #f0f0e6;
            border-color: #f0f0e6; }

        .back-to-top {
            display: none; }
        .back-to-top.visible {
            display: block; }

    .container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: 15px;
    margin-left: 15px;
    }
        * {box-sizing:border-box}

        /* Slideshow container */
        .slideshow-container {
            max-width: 1000px;
            position: relative;
            margin: auto;
        }

        /* Hide the images by default */
        .mySlides {
            display: none;
        }

        /* Next & previous buttons */
        .prev, .next {
            cursor: pointer;
            position: absolute;
            top: 50%;
            width: auto;
            margin-top: -22px;
            padding: 16px;
            color: white;
            font-weight: bold;
            font-size: 18px;
            transition: 0.6s ease;
            border-radius: 0 3px 3px 0;
            user-select: none;
        }

        /* Position the "next button" to the right */
        .next {
            right: 0;
            border-radius: 3px 0 0 3px;
        }

        /* On hover, add a black background color with a little bit see-through */
        .prev:hover, .next:hover {
            background-color: rgba(0,0,0,0.8);
        }

        /* Caption text */
        .text {
            color: #f2f2f2;
            font-size: 15px;
            padding: 8px 12px;
            position: absolute;
            bottom: 8px;
            width: 100%;
            text-align: center;
        }

        /* Number text (1/3 etc) */
        .numbertext {
            color: #f2f2f2;
            font-size: 12px;
            padding: 8px 12px;
            position: absolute;
            top: 0;
        }

        /* The dots/bullets/indicators */
        .dot {
            cursor: pointer;
            height: 15px;
            width: 15px;
            margin: 0 2px;
            background-color: #bbb;
            border-radius: 50%;
            display: inline-block;
            transition: background-color 0.6s ease;
        }

        .active, .dot:hover {
            background-color: #717171;
        }

        /* Fading animation */
        .fade {
            -webkit-animation-name: fade;
            -webkit-animation-duration: 7200s;
            animation-name: fade;
            animation-duration: 7200s;
        }

        @-webkit-keyframes fade {
            from {opacity: .4}
            to {opacity: 1}
        }

        @keyframes fade {
            from {opacity: .4}
            to {opacity: 1}
        }

    .btn-grad {background-image: linear-gradient(to right, #16A085 0%, #F4D03F 51%, #16A085 100%)}
    .btn-grad:hover { background-position: right center; }
    </style>
    <body>
    <!-- Fixed navbar -->
    <nav class="navbar navbar-default navbar-fixed-top solid" style="background-color: white; opacity: 60%">
        <div class="container" style="margin-top: 10px">
            <div class="navbar-header">
                <img class="text-left profile-img" src="/images/logo.png">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div id="navbar" class="collapse navbar-collapse"style="margin-top: 25px;">
                <ul class="nav navbar-nav navbar-right">

                    <li id="nav-accueil" style="left: 450px"><a href="#accueil" style="margin-right: 50px; font-weight: bold;">ACCUEIL</a></li>
                    <li id="nav-agentweb" style="left: 500px"><a href="#about" style="margin-right: 50px; font-weight: bold;">LES AGENTS DU WEB</a></li>
                    <li id="nav-pourquoinous" style="left: 550px"><a href="#portfolio" style="margin-right: 50px; font-weight: bold;">POURQUOI NOUS ?</a></li>
                    <li id="nav-contact" style="left: 600px"><a href="#contact" style="margin-right: 50px; font-weight: bold;">CONTACT</a></li>
                </ul>
            </div><!--/.nav-collapse -->
        </div>
    </nav>

    <!-- Begin page content -->
    <div class="container-fluid">
        <div id="accueil" class="row cover top" style="margin-bottom: 20px">
            <div class="col-xs-12">
                <img style="margin-left: 250px; position: relative; top: 80px; height: 250px; width: 250px;" src="/images/Feuille-jaune-ligne.gif">
                <img style="margin-left: 450px; position: relative; top: -250px; height: 150px; width: 150px;" src="/images/Feuille-jaune-rotation.gif">
                <div class="row">
                    <div class="col-xs-12 headline">
                        <h1 class="text-center" style="margin-top: -150px;top: 60px; position: relative; font-size: 70px">LES AGENTS DU WEB</h1>
                        <img style="margin-left: 295px;width: 1200px;height: 200px" src="/images/texte_vec.png">
                    </div>

                </div>
                <div class="row">
                    <div class="col-xs-12 center-block text-center">
                        <a href="#about"><span id="scrollIcon" class="front-glyph glyphicon glyphicon-menu-down" aria-hidden="true"></span></a>
                    </div>
                </div>

                <input onclick="rediriger()" style="font-weight: bold; position: relative; z-index: 6; border-radius: 10px;background-color: #fdc542;position:relative; top: -300px;left: 750px;width: 300px; height: 50px" type="button" value="REJOIGNEZ-NOUS">
                <img style="margin-left: 500px; position: relative; top: -300px; height: 200px; width: 200px;" src="/images/Griffure.gif">
                <img style="margin-left: 250px; position: relative; top: -200px; height: 150px; width: 150px;" src="/images/Feuille-jaune-rotation.gif">
            </div>
        </div>


        <div id="about" class="row cover" style="margin-top: -30px">
            <h2 class="text-left" style="position: relative; z-index: 1;margin-left: 100px; font-size: 70px">LES AGENTS DU WEB</h2>
            <img src="images/mains.png" style="position: absolute; top: 1070px; left: -40px;margin-left: 700px;height: 130px; width: 170px;">

            <div class="row">
                <div class="col-md-6 text-center about-info">
                    <p class="text-center" style="margin-left: -100px ;text-align: justify">I'm a self taught web developer from Scottsdale, AZ. I'm currently learning Javascript development with FreeCodeCamp and Treehouse. I also have degrees in Biology and Sustainability so I can't wait till I get to the point where I can jump into the more interactive data visualizations and put what I'm learning to good use. But for now I'm having fun learning the basics! I'm a self taught web developer from Scottsdale, AZ. I'm currently learning Javascript development with FreeCodeCamp and Treehouse. I also have degrees in Biology and Sustainability so I can't wait till I get to the point where I can jump into the more interactive data visualizations and put what I'm learning to good use. But for now I'm having fun learning the basics! I'm a self taught web developer from Scottsdale, AZ. I'm currently learning Javascript development with FreeCodeCamp and Treehouse. I also have degrees in Biology and Sustainability so I can't wait till I get to the point where I can jump into the more interactive data visualizations and put what I'm learning to good use. But for now I'm having fun learning the basics! I'm a self taught web developer from Scottsdale, AZ. I'm currently learning Javascript development with FreeCodeCamp and Treehouse. I also have degrees in Biology and Sustainability so I can't wait till I get to the point where I can jump into the more interactive data visualizations and put what I'm learning to good use. But for now I'm having fun learning the basics! </p>
                </div>

                <div class="col-md-6 about-tools">
                    <div class="col-xs-6">
                        <img style="margin-top: -190px; margin-left: -300px; width: 900px; height: 600px" src="/images/6.jpg">
                    </div>
                </div>
                <img style="margin-top: -230px; position: relative; z-index: 6; margin-left: 1400px; width: 400px; height: 300px" src="/images/double.GIF">
            </div>
        </div><!-- End #About -->

        <div id="portfolio" class="row cover" style="height: 1000px; margin-bottom: 700px;">

            <!-- Slideshow container -->
            <div class="slideshow-container">

                <!-- Full-width images with number and caption text -->
                <div class="mySlides">
                        <video controls width="100%">
                            <source src="/videos/Coffee-20564.mp4"
                                    type="video/mp4">
                        </video>
                </div>

                <div class="mySlides">
                    <video controls width="100%">
                        <source src="/videos/Restaurant-6409.mp4"
                                type="video/mp4">
                    </video>
                </div>

                <div class="mySlides">
                    <video controls width="100%">
                        <source src="/videos/Talk-1112.mp4"
                                type="video/mp4">
                    </video>
                </div>

                <!-- Next and previous buttons -->
                <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
                <a class="next" onclick="plusSlides(1)">&#10095;</a>
            </div>
            <br>

            <!-- The dots/circles -->
            <div style="text-align:center">
                <span class="dot" onclick="currentSlide(1)"></span>
                <span class="dot" onclick="currentSlide(2)"></span>
                <span class="dot" onclick="currentSlide(3)"></span>
            </div>
            <img style="margin-left: 100px; position: relative; top: -200px; height: 300px; width: 300px;" src="/images/Feuille-jaune-rotation 2.gif">
            <img style="margin-left: 1500px; position: relative; top: -400px; height: 200px; width: 200px;" src="/images/Feuille-verte.gif">
            <img style="margin-left: 1100px; position: relative; top: -550px; height: 200px; width: 600px;" src="/images/Texte-temoignages.png">
        </div>
    </div><!-- End #Portfolio -->
    <img style="margin-top: -300px;margin-left: 820px;height: 70px; width: 70px" src="/images/Linkedin.png">
    <img style="margin-top: -300px;margin-left: 10px;height: 50px; width: 50px" src="/images/Instagram.png">
    <img style="margin-top: -300px;margin-left: 20px;height: 50px; width: 50px" src="/images/Twitter.png">
    <img style="margin-top: -700px;margin-left: 0px;height: 500px; width: 500px" src="/images/Griffure.gif">

    <div id="contact" class="row cover" style="background-color: #fdc542;height: 1000px; ;margin-top: -780px;">
        <h2 class="text-center" style="margin-top: 150px ;color: #1b1b1b; font-size: 40px">CONTACT :</h2>
        <p class="text-center" style="color: #1b1b1b; font-size: 20px">Adresse : 2 rue du Dahomey - 75011 Paris</p>
        <p class="text-center" style="color: #1b1b1b; font-size: 20px">Tel : +33(1) 42 72 92 37</p>
        <p class="text-center" style="color: #1b1b1b; font-size: 20px">Mail : contact@adw.fr</p>
        <p class="text-center" style="color: #1b1b1b; font-size: 20px">Nous rejoindre sur :</p>
    </div>

    </body>

    <script>
        var slideIndex = 1;
        showSlides(slideIndex);

        // Next/previous controls
        function plusSlides(n) {
            showSlides(slideIndex += n);
        }

        // Thumbnail image controls
        function currentSlide(n) {
            showSlides(slideIndex = n);
        }

        function showSlides(n) {
            var i;
            var slides = document.getElementsByClassName("mySlides");
            var dots = document.getElementsByClassName("dot");
            if (n > slides.length) {slideIndex = 1}
            if (n < 1) {slideIndex = slides.length}
            for (i = 0; i < slides.length; i++) {
                slides[i].style.display = "none";
            }
            for (i = 0; i < dots.length; i++) {
                dots[i].className = dots[i].className.replace(" active", "");
            }
            slides[slideIndex-1].style.display = "block";
            dots[slideIndex-1].className += " active";
        }
    </script>

    <script>
        function rediriger() {
                window.location.href="localhost:3000/admin/Accueil/";

        }
    </script>

    <script>
    $(document).ready(function() {

        // Transition effect for navbar and back-to-top icon
        $(window).scroll(function() {
            // checks if window is scrolled more than 500px, adds/removes solid class
            if($(this).scrollTop() > 550) {
                $('.navbar').addClass('solid');
                $('.back-to-top').addClass('visible');
            } else {
                $('.navbar').removeClass('solid');
                $('.back-to-top').removeClass('visible');
            }

        });


        // Scrolling effect for Arrow icons
        $("#scrollIcon").click(function(e) {
            e.preventDefault();
            $.scrollTo($("#about"), 1000);
        });
        $("#nav-accueil").click(function(e) {
            e.preventDefault();
            $.scrollTo($("#accueil"), 1000);
        });
        $("#nav-agentweb").click(function(e) {
            e.preventDefault();
            $.scrollTo($("#about"), 1000);
        });
        $("#nav-pourquoinous").click(function(e) {
            e.preventDefault();
            $.scrollTo($("#portfolio"), 1000);
        });
        $("#nav-contact").click(function(e) {
            e.preventDefault();
            $.scrollTo($("#contact"), 1000);
        });
        $(".navbar-brand").click(function(e) {
            e.preventDefault();
            $.scrollTo(0, 1000);
        });

    });
    </script>

{% endblock %}